version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: adminuser
      POSTGRES_PASSWORD: newpassword
      POSTGRES_DB: pensions
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    user: "999:999"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672" # painel http://localhost:15672
    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 20s

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8080:80" # painel http://localhost:8080
    depends_on:
      postgres:
        condition: service_started
    networks:
      - app-network
    restart: always

  # ---- OBSERVABILITY STACK ----

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - app-network
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=grafana-loki-datasource
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    depends_on:
      - prometheus
      - tempo
      - loki
    volumes:
      - ./observability/grafana-data:/var/lib/grafana
    networks:
      - app-network
    restart: always

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: ["-config.file=/etc/tempo/tempo.yml"]
    volumes:
      - ./observability/tempo/tempo.yml:/etc/tempo/tempo.yml
    ports:
      - "4318:4318" # OTLP
      - "3200:3200" # HTTP UI (pode acessar via http://localhost:3200)
    networks:
      - app-network
    restart: always

  loki:
    image: grafana/loki:latest
    container_name: loki
    command: ["-config.file=/etc/loki/local-config.yaml"]
    ports:
      - "3100:3100"
    volumes:
      - ./observability/loki/config.yaml:/etc/loki/local-config.yaml
      - ./observability/loki-data:/loki
    networks:
      - app-network
    restart: always

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./observability/promtail/config.yaml:/etc/promtail/config.yaml
      - /var/log:/var/log:ro
    command: ["--config.file=/etc/promtail/config.yaml"]
    networks:
      - app-network
    depends_on:
      - loki
    restart: always

  # ---- API ----
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    ports:
      - "5007:5007"
    environment:
      NODE_ENV: development
      PG_HOST: postgres
      PG_PORT: 5432
      PG_USER: adminuser
      PG_PASSWORD: newpassword
      PG_DATABASE: pensions
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
      OTEL_EXPORTER_OTLP_ENDPOINT: http://tempo:4318
      OTEL_RESOURCE_ATTRIBUTES: service.name=pension-api
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      # prometheus:
      #   condition: service_started
      # grafana:
      #   condition: service_started
      # tempo:
      #   condition: service_started
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run start:dev
    networks:
      - app-network
    restart: always

volumes:
  postgres_data:
  redis_data:

networks:
  app-network:
    driver: bridge
